POSTGRES_DB=asyncops
POSTGRES_USER=asyncops
POSTGRES_PASSWORD=asyncops

DATABASE_URL=postgresql+psycopg://asyncops:asyncops@postgres:5432/asyncops

ENVIRONMENT=development
DEBUG=true

JWT_SECRET_KEY=bde8dd3b26b6b6214b1a5a177ede8ec453a61da74d2b08440757c3199714b565
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30